@keyframes shuding {
	0% {
		mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 150% 0 /
			400% no-repeat;
		opacity: 0.2;
	}
	100% {
		mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 0 / 400%
			no-repeat;
		opacity: 1;
	}
}

html,
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	height: 100dvh;
	margin: 0;
	padding: 0;
	font-family: "Atkinson Hyperlegible";
	font-size: 1em;
	color: #4b5255;
}

a,
a:visited {
	color: inherit;
	margin-top: auto;
	margin-bottom: auto;
	text-decoration: none;
}

a:hover {
	color: #000;
}

time {
	margin-right: 1%;
}

hr {
	width: 100%;
}

footer {
	margin-top: auto;
	text-align: center;
}

.nav-bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	align-items: center;
}

.nav-link {
	font-weight: normal;
	margin-right: 1%;
}

.nav-brand {
	padding: 5px 5px;
	border: 1px solid black;
	font-weight: normal;
	margin-right: 1%;
}

.content {
	animation: shuding 1.5s;
	display: flex;
	flex-direction: column;
	margin: 7% 10% 0% 7%;
	height: 100vh;
	height: 100dvh;
}

.link {
	text-decoration: underline;
}

.fingerprint {
	vertical-align: middle;
	display: inline-block;
}

.contact {
	display: flex;
	flex-direction: column;
}

.spotlight {
	display: flex;
	flex-direction: column;
}
