html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Atkinson Hyperlegible";
	font-size: 1em;
	color: #393d47;
}

a,
a:visited {
	color: inherit;
	margin-top: auto;
	margin-bottom: auto;
	overflow: hidden;
	white-space: nowrap;
	text-decoration: none;
	text-overflow: ellipsis;
}

a:hover {
	color: #000;
}

time {
	margin-right: 1%;
}

hr {
	width: 100%;
}

footer {
	margin-top: auto;
	text-align: center;
}

.nav-bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	align-items: center;
}

.nav-link {
	font-weight: normal;
	margin-right: 1%;
	text-decoration: underline;
}

.nav-brand {
	padding: 5px 5px;
	border: 1px solid black;
	font-weight: normal;
	margin-right: 1%;
}

.content {
	display: flex;
	flex-direction: column;
	margin: 7% 10% 7% 7%;
	height: 86%;
}

.contact {
	display: flex;
	flex-direction: column;
}

.spotlight {
	display: flex;
	flex-direction: column;
	row-gap: 1ch;
}
