body {
  margin: 0;
  font-family: "Atkinson Hyperlegible";
  font-size: 1em;
  color: #393d47;
}

a,
a:visited {
  color: inherit;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
}

a:hover {
  color: #000;
}

time {
  margin-right: 1%;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.nav-link {
  font-weight: normal;
  margin-right: 1%;
  text-decoration: underline;
}

.nav-brand {
  padding: 5px 5px;
  border: 1px solid black;
  font-weight: normal;
  margin-right: 1%;
}

.content {
  margin: 7% 10% 10% 7%;
}

.contact {
  display: flex;
  flex-direction: column;
}
