<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="content">
      {% include nav.html %}
      <div class="contact">
        <h3>
          <a href="mailto:contact@allon.dev" title="Email">
            contact@allon.dev
          </a>
        </h3>
        <h3>
          <a href="https://github.com/iamallon" title="GitHub">
            github.com/iamallon
          </a>
        </h3>
      </div>
      <hr>
      <div class="spotlight">
        <h1>Spotlight:</h1>
        <p>
          <time datetime="2025-06-09">2025-06-09</time>
          <a class="link" href="/">
            Huh nothing here...
          </a>
        </p>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
